body {
  overflow: hidden;
}

.gameHeader {
  text-align: center;
}

.gameScreen {
  height: 100vh;
  width: calc(100vh - 210px);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.gameStats {
  justify-content: space-between;
  display: none;
}

.gameStat {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.gameStat input {
  width: 80px;
  text-align: center;
}

.gameBoard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 210px);
  align-items: center;
}

.boardConceal {
  background-color: black !important;
}

.allGameButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Table */
table {
  width: calc(100vh - 210px);
  height: calc(100vh - 210px);
}

.gameMessage {
  text-align: center;
  font-size: 20px;
}

#startMessage {
  display: none;
}

#firstWinMessage {
  display: none;
}

#subsequentWinMessage {
  display: none;
}

#loseMessage {
  display: none;
}
